* {
  box-sizing: border-box;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}
header {
  text-align: center;
}
/* Button component */
.button{
  width: 100%;
  height:100%;
}

/* Number Pad Component */

#number-pad {
  display: grid;
  grid-template-columns: 75px 75px 75px 75px ;
  grid-template-rows: 75px 75px 75px;
}